In [2]:
import pandas as pd

In [31]:
# read all data and combine into one excel
# years = list(range(21,24))
years = list(range(21,23)) # 21 and 22
dataframes = []
for year in years:
    data = pd.read_excel('nba-adp-All-' + str(year) + '.xlsx')
    data['AVG'] = pd.to_numeric(data['AVG'], errors='coerce')
    data = data.dropna(subset=['AVG'])
    data.rename( columns={'Unnamed: 0':'Rank'}, inplace=True )
    data['Year'] = year
    data = data.sort_values(by=['AVG'])
    dataframes.append(data)
all_data = pd.concat(dataframes, axis=0, ignore_index=True)
all_data.head()

,Rank,Name,Team,Pos,AVG,ESPN,CBS,Yahoo,Underdog,Fantrax,ESPN AAV,Status,Injury,Year
0,1,Nikola Jokic,DEN,C,1.6,2.06,1.94,1.2,1.3,-,64.55,NaN,NaN,21
1,2,Luka Doncic,DAL,G,3.6,4.23,1.65,5.5,3.2,-,61.74,NaN,NaN,21
2,3,Giannis Antetokounmpo,MIL,F,3.7,3.02,3,6.5,2.1,-,62.38,NaN,NaN,21
3,4,James Harden,PHI,G,5.9,4.52,3.87,11.5,3.7,-,61.23,NaN,NaN,21
4,5,Karl-Anthony Towns,MIN,C,8.1,10.19,9.25,7,6,-,50.11,NaN,NaN,21

In [34]:
all_data['Rank'] = all_data['Rank'].astype(str).str.replace('T', '', regex=False)
all_data['Rank'].value_counts()

224     785
377     513
223     155
188      36
1034     19
       ...
966       1
965       1
961       1
958       1
170       1
Name: Rank, Length: 302, dtype: int64

In [35]:
all_data.to_csv('nba-adp-21-22.csv',index=False)