In [1]:
import pandas as pd

In [2]:
# rename filepath to wherever you have the data downloaded (same directory as this notebook is simplest)
data = pd.read_csv('../../../static/data/py_tuts/nba21-22.csv')
data.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa\achiupr01,PF,21,MIA,61,4,737,124,228,0.544,...,0.509,73,135,208,29,20,28,43,91,304
1,Jaylen Adams\adamsja01,PG,24,MIL,7,0,18,1,8,0.125,...,NaN,0,3,3,2,0,0,0,1,2
2,Steven Adams\adamsst01,C,27,NOP,58,58,1605,189,308,0.614,...,0.444,213,301,514,111,54,38,78,113,438
3,Bam Adebayo\adebaba01,C,23,MIA,64,64,2143,456,800,0.570,...,0.799,142,431,573,346,75,66,169,145,1197
4,LaMarcus Aldridge\aldrila01,C,35,TOT,26,23,674,140,296,0.473,...,0.872,19,99,118,49,11,29,27,47,352

In [3]:
data.tail()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
700,Delon Wright\wrighde01,PG,28,SAC,27,8,696,104,225,0.462,...,0.833,28,77,105,97,43,11,35,30,271
701,Thaddeus Young\youngth01,PF,32,CHI,68,23,1652,370,662,0.559,...,0.628,168,255,423,291,74,40,137,152,823
702,Trae Young\youngtr01,PG,22,ATL,63,63,2125,487,1112,0.438,...,0.886,38,207,245,594,53,12,261,111,1594
703,Cody Zeller\zelleco01,C,28,CHO,48,21,1005,181,324,0.559,...,0.714,119,209,328,86,27,17,51,121,451
704,Ivica Zubac\zubaciv01,C,23,LAC,72,33,1609,257,394,0.652,...,0.789,189,330,519,90,24,62,81,187,650

In [4]:
data.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [5]:
data.dtypes

Player     object
Pos        object
Age         int64
Tm         object
G           int64
GS          int64
MP          int64
FG          int64
FGA         int64
FG%       float64
3P          int64
3PA         int64
3P%       float64
2P          int64
2PA         int64
2P%       float64
eFG%      float64
FT          int64
FTA         int64
FT%       float64
ORB         int64
DRB         int64
TRB         int64
AST         int64
STL         int64
BLK         int64
TOV         int64
PF          int64
PTS         int64
dtype: object

In [6]:
data.shape

(705, 29)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  705 non-null    object
 1   Pos     705 non-null    object
 2   Age     705 non-null    int64
 3   Tm      705 non-null    object
 4   G       705 non-null    int64
 5   GS      705 non-null    int64
 6   MP      705 non-null    int64
 7   FG      705 non-null    int64
 8   FGA     705 non-null    int64
 9   FG%     703 non-null    float64
 10  3P      705 non-null    int64
 11  3PA     705 non-null    int64
 12  3P%     670 non-null    float64
 13  2P      705 non-null    int64
 14  2PA     705 non-null    int64
 15  2P%     699 non-null    float64
 16  eFG%    703 non-null    float64
 17  FT      705 non-null    int64
 18  FTA     705 non-null    int64
 19  FT%     676 non-null    float64
 20  ORB     705 non-null    int64
 21  DRB     705 non-null    int64
 22  TRB     705 non-null    int64
 23  AST     705 non-null    int64
 24  STL     705 non-null    int64
 25  BLK     705 non-null    int64
 26  TOV     705 non-null    int64
 27  PF      705 non-null    int64
 28  PTS     705 non-null    int64
dtypes: float64(5), int64(21), object(3)
memory usage: 159.9+ KB

In [25]:
data.Player

0       Precious Achiuwa\achiupr01
1           Jaylen Adams\adamsja01
2           Steven Adams\adamsst01
3            Bam Adebayo\adebaba01
4      LaMarcus Aldridge\aldrila01
                  ...
700         Delon Wright\wrighde01
701       Thaddeus Young\youngth01
702           Trae Young\youngtr01
703          Cody Zeller\zelleco01
704          Ivica Zubac\zubaciv01
Name: Player, Length: 705, dtype: object

In [26]:
data.loc[:,'Player']

0       Precious Achiuwa\achiupr01
1           Jaylen Adams\adamsja01
2           Steven Adams\adamsst01
3            Bam Adebayo\adebaba01
4      LaMarcus Aldridge\aldrila01
                  ...
700         Delon Wright\wrighde01
701       Thaddeus Young\youngth01
702           Trae Young\youngtr01
703          Cody Zeller\zelleco01
704          Ivica Zubac\zubaciv01
Name: Player, Length: 705, dtype: object

In [36]:
data.loc[:,['Player','Age']]

                          Player  Age
0     Precious Achiuwa\achiupr01   21
1         Jaylen Adams\adamsja01   24
2         Steven Adams\adamsst01   27
3          Bam Adebayo\adebaba01   23
4    LaMarcus Aldridge\aldrila01   35
..                           ...  ...
700       Delon Wright\wrighde01   28
701     Thaddeus Young\youngth01   32
702         Trae Young\youngtr01   22
703        Cody Zeller\zelleco01   28
704        Ivica Zubac\zubaciv01   23

[705 rows x 2 columns]

In [37]:
data.loc[:,'Player':'Age']

                          Player Pos  Age
0     Precious Achiuwa\achiupr01  PF   21
1         Jaylen Adams\adamsja01  PG   24
2         Steven Adams\adamsst01   C   27
3          Bam Adebayo\adebaba01   C   23
4    LaMarcus Aldridge\aldrila01   C   35
..                           ...  ..  ...
700       Delon Wright\wrighde01  PG   28
701     Thaddeus Young\youngth01  PF   32
702         Trae Young\youngtr01  PG   22
703        Cody Zeller\zelleco01   C   28
704        Ivica Zubac\zubaciv01   C   23

[705 rows x 3 columns]

In [13]:
data.loc[3]

Player    Bam Adebayo\adebaba01
Pos                           C
Age                          23
Tm                          MIA
G                            64
GS                           64
MP                         2143
FG                          456
FGA                         800
FG%                        0.57
3P                            2
3PA                           8
3P%                        0.25
2P                          454
2PA                         792
2P%                       0.573
eFG%                      0.571
FT                          283
FTA                         354
FT%                       0.799
ORB                         142
DRB                         431
TRB                         573
AST                         346
STL                          75
BLK                          66
TOV                         169
PF                          145
PTS                        1197
Name: 3, dtype: object

In [14]:
data.loc[0:3]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa\achiupr01,PF,21,MIA,61,4,737,124,228,0.544,...,0.509,73,135,208,29,20,28,43,91,304
1,Jaylen Adams\adamsja01,PG,24,MIL,7,0,18,1,8,0.125,...,NaN,0,3,3,2,0,0,0,1,2
2,Steven Adams\adamsst01,C,27,NOP,58,58,1605,189,308,0.614,...,0.444,213,301,514,111,54,38,78,113,438
3,Bam Adebayo\adebaba01,C,23,MIA,64,64,2143,456,800,0.570,...,0.799,142,431,573,346,75,66,169,145,1197

In [15]:
data.loc[[0,1,3]]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa\achiupr01,PF,21,MIA,61,4,737,124,228,0.544,...,0.509,73,135,208,29,20,28,43,91,304
1,Jaylen Adams\adamsja01,PG,24,MIL,7,0,18,1,8,0.125,...,NaN,0,3,3,2,0,0,0,1,2
3,Bam Adebayo\adebaba01,C,23,MIA,64,64,2143,456,800,0.570,...,0.799,142,431,573,346,75,66,169,145,1197

In [22]:
data.loc[[0,1,3],:]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa\achiupr01,PF,21,MIA,61,4,737,124,228,0.544,...,0.509,73,135,208,29,20,28,43,91,304
1,Jaylen Adams\adamsja01,PG,24,MIL,7,0,18,1,8,0.125,...,NaN,0,3,3,2,0,0,0,1,2
3,Bam Adebayo\adebaba01,C,23,MIA,64,64,2143,456,800,0.570,...,0.799,142,431,573,346,75,66,169,145,1197

In [29]:
data.Age<20

0      False
1      False
2      False
3      False
4      False
       ...
700    False
701    False
702    False
703    False
704    False
Name: Age, Length: 705, dtype: bool

In [23]:
data.loc[data.Age<20]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
33,LaMelo Ball\ballla01,PG,19,CHO,51,31,1469,293,672,0.436,...,0.758,63,239,302,313,81,18,145,136,803
114,Vernon Carey Jr.\careyve01,C,19,CHO,19,4,115,18,36,0.500,...,0.818,6,21,27,2,1,5,5,13,46
184,Anthony Edwards\edwaran01,SG,19,MIN,72,55,2314,505,1211,0.417,...,0.776,59,277,336,211,82,36,160,129,1392
254,R.J. Hampton\hamptrj01,SG-PG,19,TOT,51,1,888,136,313,0.435,...,0.671,29,150,179,87,21,10,53,61,354
255,R.J. Hampton\hamptrj01,PG,19,DEN,25,0,233,25,60,0.417,...,0.750,10,40,50,14,5,2,11,22,64
256,R.J. Hampton\hamptrj01,SG,19,ORL,26,1,655,111,253,0.439,...,0.657,19,110,129,73,16,8,42,39,290
281,Killian Hayes\hayeski01,PG,19,DET,26,18,670,71,201,0.353,...,0.824,6,63,69,138,27,10,83,57,176
395,Kira Lewis Jr.\lewiski01,PG,19,NOP,54,0,904,130,337,0.386,...,0.843,12,59,71,124,38,10,34,88,343
408,ThÃ©o Maledon\maledth01,PG,19,OKC,65,49,1778,226,614,0.368,...,0.748,25,186,211,227,56,11,141,126,658
411,Nico Mannion\mannini01,PG,19,GSW,30,1,364,39,114,0.342,...,0.821,6,40,46,70,16,1,31,29,123
523,Aleksej Pokusevski\pokusal01,PF,19,OKC,45,28,1090,139,408,0.341,...,0.738,30,182,212,97,20,42,99,58,367
542,Jahmi'us Ramsey\ramseja01,SG,19,SAC,13,0,94,15,38,0.395,...,1.000,2,8,10,6,4,1,3,8,40
606,Isaiah Stewart\stewais01,C,19,DET,68,14,1455,226,409,0.553,...,0.696,159,294,453,59,39,86,67,184,537
686,Patrick Williams\willipa01,PF,19,CHI,71,71,1983,255,528,0.483,...,0.728,66,261,327,99,64,46,98,126,655
695,James Wiseman\wisemja01,C,19,GSW,39,27,836,191,368,0.519,...,0.628,55,171,226,26,11,36,60,121,448

In [30]:
data.loc[(data.Age < 20) & (data.G >= 30)] # this returns a boolean array where True indicates Age < 20 and G >= 30

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
33,LaMelo Ball\ballla01,PG,19,CHO,51,31,1469,293,672,0.436,...,0.758,63,239,302,313,81,18,145,136,803
184,Anthony Edwards\edwaran01,SG,19,MIN,72,55,2314,505,1211,0.417,...,0.776,59,277,336,211,82,36,160,129,1392
254,R.J. Hampton\hamptrj01,SG-PG,19,TOT,51,1,888,136,313,0.435,...,0.671,29,150,179,87,21,10,53,61,354
395,Kira Lewis Jr.\lewiski01,PG,19,NOP,54,0,904,130,337,0.386,...,0.843,12,59,71,124,38,10,34,88,343
408,ThÃ©o Maledon\maledth01,PG,19,OKC,65,49,1778,226,614,0.368,...,0.748,25,186,211,227,56,11,141,126,658
411,Nico Mannion\mannini01,PG,19,GSW,30,1,364,39,114,0.342,...,0.821,6,40,46,70,16,1,31,29,123
523,Aleksej Pokusevski\pokusal01,PF,19,OKC,45,28,1090,139,408,0.341,...,0.738,30,182,212,97,20,42,99,58,367
606,Isaiah Stewart\stewais01,C,19,DET,68,14,1455,226,409,0.553,...,0.696,159,294,453,59,39,86,67,184,537
686,Patrick Williams\willipa01,PF,19,CHI,71,71,1983,255,528,0.483,...,0.728,66,261,327,99,64,46,98,126,655
695,James Wiseman\wisemja01,C,19,GSW,39,27,836,191,368,0.519,...,0.628,55,171,226,26,11,36,60,121,448

In [ ]:
sub_data = data.loc[(data.Age < 20) & (data.G >= 30)]
sub_data.to_csv('rookies_nba21-22.csv') # saves data into a csv file